* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr;
}

.line{
    background-color: rgb(134, 126, 126);
    height: 1px;
    border: none;
    width: 100%;
    margin: 20px 0;
}

.sidebar{
    position: relative;
    background-image: linear-gradient(to right, rgb(195, 81, 174), rgb(79, 13, 87));
    grid-area: 1 / 1 / 3 / 1;
    padding: 2rem;

    display: grid;
    align-content: start;
}

.sidebar-top img{
    position: relative;
    top: 20px;
    
}

.sidebar li{
    list-style: none;
    line-height: 2.5;
}

.sidebar-mid{
    display: grid;
    margin-top: 2rem; 
    
}

.sidebar-bottom{
    margin-top: 2rem;
}

.header{
    grid-area: 1 / 2 / 1 / 2;
}

/*line*/
.main{
    background-color: lightgray;

    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Header start*/

.header{
    display: grid;
    grid-template-columns: 4fr 1fr ;
    grid-template-rows: 1fr 1fr;
    padding: 2rem;
}


/* Header End*/