* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    background-image: linear-gradient(to right, rgb(195, 81, 174), rgb(79, 13, 87));
    grid-area: 1 / 1 / 3 / 1;

    display: grid;
    align-content: start;
}

.sidebar li{
    list-style: none;
}

.sidebar-mid{
    display: grid;
    margin-top: 4rem; 
}

.sidebar-bottom{
    margin-top: 4rem;
}


.header{
    grid-area: 1 / 2 / 1 / 2;
}

.main{
    background-color: lightgray;

    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}